/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/01/2017, 11:07:36
    Author     : MarceloMacedo
*/
.bar-button::after {
    z-index: 9999;
}

#cadImg_Scanear {
    margin-top: 5px;
}

#cadImg_Scanear span, #cadImg_Scanear span {
    font-size: 10pt;
}

.button-md-secondary:hover {
    background-color: darkgreen;
}

#cadImg_Scanear:active {
    background: darkcyan;
}

.card-md {
        margin: 10px 0px;
    width: 100%;
    border-radius: 2px;
    font-size: 1.4rem;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.toolbar-title-md {
    color: #fff;
    font-weight: 100;
}


.label-md[floating], .label-md {
    color: #333!important;
    font-size: 10pt;
    text-transform: uppercase;
}

.areaListaImoveis  {
    margin-top: -50px;
}

#cadImg_Scanear {
    border-color: transparent;
    height: 45px;
}

.label-md {
    margin: 0px;
}

.item-md .item-button {
    height: 45px;    
    font-size: 1.6rem;
    font-family: LatoRegular;
    margin-bottom: 10px;
}

ion-icon {
    display: inline-block;
    font-size: 1.8em;
    padding: 0px 10px;
}

.card-header-md {
    padding: 16px;
    font-size: 2.4rem;
    color: #222;
    text-align: center;
    font-family: LatoRegular;
}

.list list-md {
    font-family: LatoRegular;
}

.select-md {
    padding: 13px 0px 13px 0px;
}

.select-text {
    font-size: 10pt;
}

.button-full-md {
    margin-top: 10px;
}