<ion-header>
    <ion-navbar>
        <ion-title>Menu</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
        <div class="dashboard teste">
            <div class="titulo">Casa 10</div>
        </div>
        <form id="cadastroImoveis-form3" class="list">
            <label class="item item-input item-stacked-label" id="cadastroImoveis-input4" name="regiao">
                <span class="input-label">Quantidade de focos</span>
                <input placeholder="10" type="number" id="testecampo1" name="testecampo1" ng-model="form.campo1">
            </label>
            <label class="item item-input item-stacked-label" id="cadastroImoveis-input5" name="bairro">
                <span class="input-label">Numeros de Insumos usados</span>
                <input placeholder="10" type="number" id="testecampo2" name="testecampo2" ng-model="form.campo2">
            </label>            
        
        <div class="spacer" style="width: 283px; height: 53px;"></div>        
        
        <div id="cadastroImoveis-button-bar2" class="button-bar" >
            <button type='submit' id="cadastroImoveis-button9" class="button button-balanced  button-block button-outline icon ion-android-checkmark-circle" ng-click="rest(form)" >Salvar</button>
            <a ui-sref="menu2" id="cadastroImoveis-button10" class="button button-energized  button-block button-outline icon ion-eye-disabled">Cancelar</a>
        </div>
        </form>
        <!--<button id="b" name="b" ng-click="t('ASD123')">asd</button>-->
</ion-content>