<ion-header>
    <ion-navbar>
        <ion-title>Tratamento Vetorial</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="dashboard tratamentoVetorial" *ngFor="let a of atividade">
        <div class="home-header">
            <h3>Tratamento Vetorial</h3>
            <i class="icon ion-android-calendar"></i> 
            <h5>{{ a.Data }}</h5>
        </div>        
    </div>

    <ion-list inset>
        <ion-item *ngFor="let i of vistoriaImoveis">
            <i class="icon ion-android-pin"></i> {{ i.imovel.Logradouro }} : 100

            <a (click)="goToVistoria(i.imovel.Codigo)" *ngIf="!i.vistoria">
                <span>Realizar Visita</span>
            </a>

            <a (click)="editarVistoria(i.imovel.Codigo, i.vistoria.Codigo)" *ngIf="i.vistoria">
                <span *ngIf="i.vistoria.Status != null">{{ i.vistoria.Status }}</span>
            </a>

        </ion-item>

        <ion-item>
            <div>
                <button ion-button (click)="escanearCodigo()" full color="secondary">Escanear Código</button>
            </div>
        </ion-item>
    </ion-list>

</ion-content>