/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/01/2017, 11:07:36
    Author     : MarceloMacedo
*/

.lgn_Container {
    background-color: rgb(99, 214, 199);
    width: 100%;
    text-align: center;
    height: 100%;
    position: absolute;
}

.lgn_Area {
    background-color: rgba(255,255,255,0.4);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-right: 20px;
    height: 95%;
}

.lgn_LogoContainer {
    padding: 20px 0px;
}

.lgn_LogoContainer img {
    display: block;
    margin: 10px auto;
    width: 40%;
}

.lgn_Button {
    font-size: 20pt;
    padding: 20px;
    margin-top: 20px;
    width: 250px;
    height: 50px;
}

.item-md {
    background-color: transparent;
}

.lgn_Container input {
    font-size: 15pt;
}

.lgn_Container input ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.lgn_Container input :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     #fff;
   opacity:  1;
}
.lgn_Container input ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:     #fff;
   opacity:  1;
}
.lgn_Container input :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

.lgn_Form {

}

.item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom:  none;
}

.item-input ion-input, .item-input ion-textarea {
    background-color: #fff;
    font-family: LatoRegular;
    color: #000;
    margin-top: 10px;
}