<ion-header>
    <ion-navbar>
        <ion-title>PESQUISA LARVARIAL</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-card *ngIf="vistoria._id">
        <ion-card-header>
            <div class="tratVis_Cabec" >
                <h6>Data Vistoria: {{ vistoria.Date  | date: 'dd/MM/yyyy' }}</h6>                
                <h6>Hora da Vistoria: {{ vistoria.Date  | date: 'H:mm' }}</h6>
            </div>
        </ion-card-header>
    </ion-card>

    <form (ngSubmit)="cadastrar()" *ngIf="vistoria">

    <ion-card>
        <ion-card-content>
            <div class="tratVis_Depositos">
                 <h6>Coleta de Amostras:</h6>
            </div>
            <div class="tratVis_Items">
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/tubo1.png"/>
                        <span>Tubos</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a (click)="diminuir('vis_tubos')">
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="text" [(ngModel)]="vistoria.vis_tubos" name="vis_tubos" min="0" value="0" />
                        </div>
                        <a (click)="aumenta('vis_tubos')">
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/tubo2.png"/>
                        <span>Amostras</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a (click)="diminuir('vis_amostras')">
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="text" [(ngModel)]="vistoria.vis_amostras" name="vis_amostras" min="0" value="0" />
                        </div>
                        <a (click)="aumenta('vis_amostras')">
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> 
        </ion-card-content>
        <ion-card-content>

            <div class="tratVis_Depositos">
                 <h6>Larvas Examinadas:</h6>
            </div>
            <div class="tratVis_Items">
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/mosquito1.png"/>
                        <span>Aegypt</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a (click)="diminuir('vis_aegypt')">
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="text" [(ngModel)]="vistoria.vis_aegypt" name="vis_aegypt" min="0" value="0" />
                        </div>
                        <a (click)="aumenta('vis_aegypt')">
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/mosquito2.png"/>
                        <span>Alb.</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a (click)="diminuir('vis_alb')">
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="text" [(ngModel)]="vistoria.vis_alb" name="vis_alb" min="0" value="0" />
                        </div>
                        <a (click)="aumenta('vis_alb')">
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>   

        </ion-card-content>
        <ion-card-content>    

            <div class="tratVis_Depositos">
                 <h6>Número de Depósitos Tratados:</h6>
            </div>
            <div class="tratVis_Items">
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/pneus.png"/>
                        <span>Pneus</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a (click)="diminuir('vis_pneus')">
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="text" [(ngModel)]="vistoria.vis_pneus" name="vis_pneus" min="0" value="0" />
                        </div>
                        <a (click)="aumenta('vis_pneus')">
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/caixa-dagua.png"/>
                        <span>Caixa D'Agua</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a (click)="diminuir('vis_caixadagua')">
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="text" [(ngModel)]="vistoria.vis_caixadagua" name="vis_caixadagua"  min="0" value="0" />
                        </div>
                        <a (click)="aumenta('vis_caixadagua')">
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tratVis_Items">
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/vaso.png"/>
                        <span>Vaso</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a (click)="diminuir('vis_vasos')">
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="text" [(ngModel)]="vistoria.vis_vasos" name="vis_vasos" min="0" value="0" />
                        </div>
                        <a (click)="aumenta('vis_vasos')">
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/pool.png"/>
                        <span>Piscina</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a (click)="diminuir('vis_piscina')">
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="text" [(ngModel)]="vistoria.vis_piscina" name="vis_piscina" min="0" value="0" />
                        </div>
                        <a (click)="aumenta('vis_piscina')">
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </ion-card-content>
        

        <ion-card-content>
            <div class="tratVis_Depositos">
                 <h6>Observações do Agente:</h6>
            </div>
            <div class="tratVis_TextArea">
                <textarea [(ngModel)]="vistoria.vis_observacao" name="vis_observacao" rows="6" cols="40">
                </textarea>
            </div>
        </ion-card-content>

        <ion-card-content>
            <div class="tratVis_Item">
                <button type="submit">
                    <div class="tratVis_Button btnColorGreen">
                        <span>CONCLUIR</span>
                    </div>
                </button>
            </div>
            <div class="tratVis_Item">
                <a (click)="naoAtendimento()">
                    <div class="tratVis_Button btnColorRed">
                        <span>NÃO VISTORIADO</span>
                    </div>
                </a>
            </div>
        </ion-card-content>
    </ion-card>

    </form>

    <ion-card>
        <!--<ion-card-content>
            <div class="tratVis_Depositos">
                 <h6>Coleta de Amostras:</h6>
            </div>
            <div class="tratVis_Items">
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/tubo1.png"/>
                        <span>Tubos</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a>
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="number"/>
                        </div>
                        <a>
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/tubo2.png"/>
                        <span>Amostras</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a>
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="number"/>
                        </div>
                        <a>
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>            
        </ion-card-content>
        <ion-card-content>
            <div class="tratVis_Depositos">
                 <h6>Larvas Examinadas:</h6>
            </div>
            <div class="tratVis_Items">
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/mosquito1.png"/>
                        <span>Aegypt</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a>
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="number"/>
                        </div>
                        <a>
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/mosquito2.png"/>
                        <span>Alb.</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a>
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="number"/>
                        </div>
                        <a>
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>            
        </ion-card-content>

        <ion-card-content>
            <div class="tratVis_Depositos">
                 <h6>Depósitos inspecionados:</h6>
            </div>
            <div class="tratVis_Items">
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/pneus.png"/>
                        <span>Pneus</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a>
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="number"/>
                        </div>
                        <a>
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/caixa-dagua.png"/>
                        <span>Caixa D'Agua</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a>
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="number"/>
                        </div>
                        <a>
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>     
            <div class="tratVis_Items">
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/vaso.png"/>
                        <span>Vaso</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a>
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="number"/>
                        </div>
                        <a>
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="tratVis_Item">
                    <div class="tratVis_AreaImage">
                        <img class="img-responsive" src="assets/img/vistoria/pool.png"/>
                        <span>Piscina</span>
                    </div>
                    <div class="tratVis_AreaOpcoes">
                        <a>
                            <div class="tratVist_Button">
                                <span>-</span>
                            </div>
                        </a>
                        <div class="tratVist_Input">
                            <input type="number"/>
                        </div>
                        <a>
                            <div class="tratVist_Button">
                                <span>+</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>          
        </ion-card-content>

        <ion-card-content>
            <div class="tratVis_Depositos">
                 <h6>Observações do Agente:</h6>
            </div>
            <div class="tratVis_TextArea">
                <textarea rows="6" cols="40">
                </textarea>
            </div>
        </ion-card-content>

        <ion-card-content>
            <div class="tratVis_Item">
                <a>
                    <div class="tratVis_Button btnColorGreen">
                        <span>CONCLUIR</span>
                    </div>
                </a>
            </div>
            <div class="tratVis_Item">
                <a>
                    <div class="tratVis_Button btnColorRed">
                        <span>NÃO VISTORIADO</span>
                    </div>
                </a>
            </div>
        </ion-card-content>-->
    </ion-card> 

    <!--<ion-card *ngIf="vistoria.Status" style="background: ghostwhite">
        <ion-card-header >
            <h3 style="color: darkred"><ion-icon name="alert" style="color: darkred"></ion-icon> Residencia já visitada!</h3>
            <div>
                <h6 style="color: darkred">Data Visita: {{vistoria.DataHora}}</h6>
                <h6 style="color: darkred">As informações serão atualizadas!</h6>
            </div>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <h3>Avaliação Geral</h3>      
        </ion-card-header>

        <ion-card-content>
            <form (ngSubmit)="realizar()" *ngIf="vistoria">
                <ion-list>
                    <ion-item>
                        <ion-item>
                            <ion-range min="1" max="10"  [(ngModel)]="vistoria.Satisfacao" [ngModelOptions]="{standalone: true}">
                                <ion-icon range-left small name="sad"></ion-icon>
                                <ion-icon range-right name="happy"></ion-icon>
                            </ion-range>
                        </ion-item>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Pacotes Quimicos Utilizados</ion-label>
                        <ion-input type="number" name="pacotes" min="0" value="0" [(ngModel)]="vistoria.Pacotes"></ion-input>                        
                    </ion-item>

                    <ion-row class="areaInputs">
                        <ion-col col-6>
                            <img class="img-responsive" src="assets/img/vistoria/pneus.png" style="max-width: 55px; margin:auto;" />
                            <div class="botaoMinus" (click)="diminuir('Pneus')"><span>-</span></div>
                            <ion-item class="areaItem">                                
                                <ion-input  type="number" name="pneus" min="0" value="0" [(ngModel)]="vistoria.Pneus"></ion-input>                                
                            </ion-item>
                            <div class="botaoMore" (click)="aumenta('Pneus')"><span>+</span></div>
                        </ion-col>
                        <ion-col col-6>
                            <img class="img-responsive" src="assets/img/vistoria/piscina.png" style="max-width: 55px; margin:auto;" />
                            <div class="botaoMinus" (click)="diminuir('Piscina')"><span>-</span></div>
                            <ion-item class="areaItem">
                                <ion-input type="number" name="piscina" min="0" value="0" [(ngModel)]="vistoria.Piscina"></ion-input>
                            </ion-item>
                            <div class="botaoMore" (click)="aumenta('Piscina')"><span>+</span></div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-6>
                            <img class="img-responsive" src="assets/img/vistoria/vasos.png" style="max-width: 55px; margin:auto;" />
                            <div class="botaoMinus" (click)="diminuir('Vasos')"><span>-</span></div>
                            <ion-item class="areaItem">
                                <ion-input type="number" name="vasos" min="0" value="0" [(ngModel)]="vistoria.Vasos"></ion-input>
                            </ion-item>
                            <div class="botaoMore" (click)="aumenta('Vasos')"><span>+</span></div>
                        </ion-col>
                        <ion-col col-6>
                            <img class="img-responsive" src="assets/img/vistoria/outros.png" style="max-width: 55px; margin:auto;" />
                            <div class="botaoMinus" (click)="diminuir('Outros')"><span>-</span></div>
                            <ion-item class="areaItem">
                                <ion-input type="number" name="outros" min="0" value="0" [(ngModel)]="vistoria.Outros"></ion-input>
                            </ion-item>
                            <div class="botaoMore" (click)="aumenta('Outros')"><span>+</span></div>
                        </ion-col>
                    </ion-row>

                    <button ion-button full>Concluir Vistoria</button>

                    <button ion-button full color="danger" (click)="naoAtendimento()">Não Vistoriado</button>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>-->

    <!--<ion-card>
        <ion-card-header>
            Visita Não realizada
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <button ion-button full color="danger" (click)="naoAtendimento()">Não Atendimento</button>
                </ion-item>
                <ion-item>
                    <button ion-button full color="danger" (click)="naoEncontrado()">Não Encontrado</button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>-->

    <!--<ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab><ion-icon name="checkmark-circle"></ion-icon></button>
            <button ion-fab><ion-icon name="close-circle"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>-->

</ion-content>