<ion-header>
    <ion-navbar>
        <ion-title>Visita</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="vistoria.Status" style="background: ghostwhite">
        <ion-card-header >
            <h3 style="color: darkred"><ion-icon name="alert" style="color: darkred"></ion-icon> Residencia já visitada!</h3>
            <div>
                <h6 style="color: darkred">Data Visita: {{vistoria.DataHora}}</h6>
                <h6 style="color: darkred">As informações serão atualizadas!</h6>
            </div>
        </ion-card-header>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <h3>Avaliação Geral</h3>      
        </ion-card-header>

        <ion-card-content>
            <form (ngSubmit)="realizar()" *ngIf="vistoria">
                <ion-list>
                    <ion-item>
                        <ion-item>
                            <ion-range min="1" max="10"  [(ngModel)]="vistoria.Satisfacao" [ngModelOptions]="{standalone: true}">
                                <ion-icon range-left small name="sad"></ion-icon>
                                <ion-icon range-right name="happy"></ion-icon>
                            </ion-range>
                        </ion-item>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Pacotes Quimicos Utilizados</ion-label>
                        <ion-input type="number" name="pacotes" min="0" value="0" [(ngModel)]="vistoria.Pacotes"></ion-input>                        
                    </ion-item>

                    <ion-row class="areaInputs">
                        <ion-col col-6>
                            <img class="img-responsive" src="assets/img/vistoria/pneus.png" style="max-width: 55px; margin:auto;" />
                            <div class="botaoMinus" (click)="diminuir('Pneus')"><span>-</span></div>
                            <ion-item class="areaItem">                                
                                <ion-input  type="number" name="pneus" min="0" value="0" [(ngModel)]="vistoria.Pneus"></ion-input>                                
                            </ion-item>
                            <div class="botaoMore" (click)="aumenta('Pneus')"><span>+</span></div>
                        </ion-col>
                        <ion-col col-6>
                            <img class="img-responsive" src="assets/img/vistoria/piscina.png" style="max-width: 55px; margin:auto;" />
                            <div class="botaoMinus" (click)="diminuir('Piscina')"><span>-</span></div>
                            <ion-item class="areaItem">
                                <ion-input type="number" name="piscina" min="0" value="0" [(ngModel)]="vistoria.Piscina"></ion-input>
                            </ion-item>
                            <div class="botaoMore" (click)="aumenta('Piscina')"><span>+</span></div>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-6>
                            <img class="img-responsive" src="assets/img/vistoria/vasos.png" style="max-width: 55px; margin:auto;" />
                            <div class="botaoMinus" (click)="diminuir('Vasos')"><span>-</span></div>
                            <ion-item class="areaItem">
                                <ion-input type="number" name="vasos" min="0" value="0" [(ngModel)]="vistoria.Vasos"></ion-input>
                            </ion-item>
                            <div class="botaoMore" (click)="aumenta('Vasos')"><span>+</span></div>
                        </ion-col>
                        <ion-col col-6>
                            <img class="img-responsive" src="assets/img/vistoria/outros.png" style="max-width: 55px; margin:auto;" />
                            <div class="botaoMinus" (click)="diminuir('Outros')"><span>-</span></div>
                            <ion-item class="areaItem">
                                <ion-input type="number" name="outros" min="0" value="0" [(ngModel)]="vistoria.Outros"></ion-input>
                            </ion-item>
                            <div class="botaoMore" (click)="aumenta('Outros')"><span>+</span></div>
                        </ion-col>
                    </ion-row>

                    <button ion-button full>Concluir Vistoria</button>

                    <button ion-button full color="danger" (click)="naoAtendimento()">Não Vistoriado</button>
                </ion-list>
            </form>
        </ion-card-content>
    </ion-card>

    <!--<ion-card>
        <ion-card-header>
            Visita Não realizada
        </ion-card-header>

        <ion-card-content>
            <ion-list>
                <ion-item>
                    <button ion-button full color="danger" (click)="naoAtendimento()">Não Atendimento</button>
                </ion-item>
                <ion-item>
                    <button ion-button full color="danger" (click)="naoEncontrado()">Não Encontrado</button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>-->

    <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab><ion-icon name="checkmark-circle"></ion-icon></button>
            <button ion-fab><ion-icon name="close-circle"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

</ion-content>